.h1 {
  composes: mediumBigFont from "../fontSize/fontSize.module.css";
  composes: navBarPaddingX from "../navBar/navBar.module.css";
  composes: navBarPaddingY from "../navBar/navBar.module.css";
  margin: 0;
}