.noneList {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  composes: navBarPaddingX from "../navBar/NavBar.module.css";
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
}

.clearBtn {
  background-color: transparent;
}

.li {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icon {
  composes: icon from "../imgSize/imgSize.module.css"
}

.navBtn {
  composes: clearBtn;
  position: relative;
  display: flex;
  align-items: center;
  height: 42px;
  min-width: 42px; 
  padding: 0.5em;
  margin: 0;
}

.cartQuantity {
  position: absolute;
  color: red;
  font-weight: 700;
  right: 3px;
  top: -3px;
}